<div id="modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Name That Alkane</h4>
			</div>
			<div class="modal-body">
				<ul>
					<li>Name the unbranched alkane according to the IUPAC system.</li>
					<li>You have 25 seconds.</li>
					<li>You have three strikes before the game ends.</li>
					<li>A strike is assigned if an incorrect answer is given, or the timer hits 0.</li>
					<li>The 'Enter' key can be pressed to submit an answer.</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" id="start-button" class="btn btn-success btn-lg btn-block">Start</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container">
	<div id="timer"></div>
	<div class="molecule">
		<%= image_tag "alkanes/" + @alkane + ".png", data: @alkane, class: 'img-thumbnail' %>
	</div>

	<form>
		<div class="form-group">
			<input class="chem-input form-control" placeholder="Molecule Name"></input>
			<%= button_to 'Submit', '', remote: true, class:'btn btn-primary btn-lg btn-block fake-button' %>
		</div>
	</form>
	<div class="gameOver">
		<h1 class"text-danger"> Game Over </h1>
	</div>
</div>