<div id="modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Name That Alkene</h4>
			</div>
			<div class="modal-body">
				<ul>
					<li>Name the unbranched alkene according to the IUPAC system.</li>
					<li>You have 30 seconds.</li>
					<li>You have three strikes before the game ends.</li>
					<li>Only use the e,z notation for naming (Cahn–Ingold–Prelog priority rules).</li>
					<li>If the double bond is at Carbon #1, no 'e-' or 'z-' is placed before the name.</li>
					<li>The number of the carbon at which the double bond is located is placed after the prefix, but before the suffix.</li>
					<li>Don't forget dashes!</li>
				</ul>
			</div>
			<div class="modal-score text-success"></div>
			<div class="modal-fail-list">
				<hr>
				<p class="message">You should consider reviewing:</p>
				<ul class="list-group text-info"></ul>
			</div>
			<div class="modal-footer">
				<button type="button" id="start-button" class="btn btn-success btn-lg btn-block">Start</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container">
	<div class="progress">
  		<div class="progress-bar progress-bar-warning" role="progressbar" style="width: 50%">
  		</div>
	</div>
	<div class='strikebox'></div>
	<div class="molecule">
		<%= render partial: 'alkenes' %>
	</div>

	<%= form_tag '/fetch_alkene', remote:true do %>
		<div class="form-group">
			<%= text_field_tag 'chem-input', '', class:'chem-input form-control', placeholder: 'Molecule Name', autocomplete: 'off' %>
			<%= button_tag 'Submit', class:'btn btn-primary btn-lg btn-block fake-button' %>
		</div>
	<% end %>
	<div class="gameOver">
		<h1 class"text-danger"> Game Over </h1>
	</div>
</div>