<h1> Newman Projections</h1>
<canvas id="canvas"></canvas>
<div class="projections">
	<%= image_tag 'newman/newman_2_back.png', id: 'back'%>
	<%= image_tag 'newman/newman_2_front.png', id:'front'%>
</div>
<div class="molecule">
	<!-- <img id="molec" src="images/newman/newman_projections/6.11.png"> -->
</div>
<p id= "stable">Stable!!!</p>
<a href="/newman"><button>Next Projection</button></a>
	