$('.games.alkanes').ready(function(){ 

  	console.log('loaded games alkanes')

	$('#modal').modal('show');

	var score = 0, timer = 0, strike = 0, failed=[];

	$('#start-button').on('click', function(){start()});

	$(".fake-button").click(function(event){
		parseInput();
	});

	function parseInput(){
		var input = $('.chem-input').val().toLowerCase();
		molecule = $('.img-thumbnail').attr('data');

		if (input === molecule) {
			score += 25 - timer;
			$('.chem-input').val('');
			clearInterval(interval);
			setTimer();
			console.log('success')
		} else {
			console.log('failed attempt')
			console.log('input: ' + input + ' molecule: ' + molecule )
			
			$('.chem-input').val('');
			failed.push(molecule);
			clearInterval(interval);
			setTimer();
			addStrike();
		}
	}

	function setTimer() {
		timer = 0;
  		var progressbar = $( ".progress-bar" );
  		interval = setInterval(function(){
  			if (timer < 25) {
  				timer ++;
  				var progress  = timer / 25 * 100; 
  				progressbar.css('width', progress + '%');
  			} else {
  				clearInterval(interval);
  				setTimer();
  				addStrike();
  			}
  		}, 1000);
	}

	function addStrike() {
		strike < 2 ? strike++ : gameOver();
		$('.strikebox').append("<span class='glyphicon glyphicon-remove'></span>");
	}

	function start(){ 
		$('.strikebox').html('');
		$('#modal').modal('toggle');
		score = 0;
		setTimer();
	}

	function gameOver() {
		console.log('gameOver')
		strike = 0;
		timer = 0;
		clearInterval(interval);
		$('.chem-input').val('');
		appendFailedList();
		$('.modal-score').text('Your score was: ' + score);
		$('#start-button').text('Play Again?');
		$('#modal').modal('toggle');
	}

	function appendFailedList(){
		if (failed.length > 0) { 
			for (var i = 0; i < failed.length; i++) {
				$('.modal-fail-list > ul').append("<li class='list-group-item'>" + failed[i] + "</li>");
			}
		}
		if ($('.modal-fail-list').css('display') === 'none') {
			$('.modal-fail-list').toggle();
		}
	}
});