// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin mediaQuery(){
  @media only screen and (min-device-width : 320px) and (max-device-width : 690px) {
    width:100%;
    max-width: 100vw;
    height:auto;
    float:none;
    margin-right: auto;
    margin-left: auto;
  } 
}
.container {
	text-align: center;
	max-height: 100vh;
}

.img-thumbnail {
	width:30vw;
	height:auto;
	@include mediaQuery();
}
.gameOver{
	display: none;
}
.modal-body { 
	text-align: left;
}
input{
	text-align: center;
}
.modal-fail-list {
	display: none;
	.message {
		font-size: larger;
	}
}