
// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin mediaQuery(){
  @media only screen and (min-device-width : 320px) and (max-device-width : 690px) {
    width:100%;
    max-width: 100vw;
    height:auto;
    float:none;
    margin-right: auto;
    margin-left: auto;
  } 
}
.container {
	text-align: center;
	max-height: 100vh;
}

.img-thumbnail {
	width:30vw;
	height:auto;
	@include mediaQuery();
}
.gameOver{
	display: none;
}
.modal-body { 
	text-align: left;
}
input{
	text-align: center;
}
.modal-fail-list {
	display: none;
	.message {
		font-size: larger;
	}
}


//newman projections
.projections {
	height:50vh;
	width:50vh;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 10%;
	#front, #back {
		height: 50vh;
		width: auto;
		margin: 0 auto;
		position:absolute;
		left: 0;
		top: 0;
	}
	#front {
	}
	#back{
		z-index: 5;
	}
}
.newman-well {
	height:90vh;
}
#canvas {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}
#stable, #reload {
	display: none;
}
